@model CarApplication.Models.Car.CarsCreateViewModel

<h1>Create</h1>

<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />

        <div class="form-group row">
            <label asp-for="CarBrand" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CarBrand" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="CarModel" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CarModel" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="CarYear" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CarYear" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="CarColor" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CarColor" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="CarPrice" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CarPrice" class="form-control" />
            </div>
        </div>

        <input asp-action="create" asp-controller="cars" type="submit" class="btn btn-primary" value="Create" />

    </form>
</div>